@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
  font-family: 'Inter', sans-serif;
}

.bg-custom-purple {
  background-color: #4A1B9D;
}

.text-custom-purple {
  color: #4A1B9D;
}

.bg-orange{
  background-color: #FFAC00;
}
.bg-safety-orange{
  background-color: #FF7900 ;
}

.text-safety-orange {
  color: #FF7900;
}

.bg-tambah-data{
  background-color: #700070;
  opacity: 80%;
} 

.bg-purple {
  background-color: #700070;
  opacity: 90%;
}

.text-purple {
  color: #700070;
}

.bg-delete{
  background-color: #DC2626;
}

.bg-detail{
  background-color: #1D4ED8;
}

.bg-approve{
  background-color: #16A34A;
}

.bg-gray{
  background-color: #9CA3AF;
}